# App
PORT=3000

# Database connection parameters
DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
DB_NAME=adsicrm_database

# Database adminer parameters
ADMINER_HOST=localhost
ADMINER_PORT=8978

# JWT Secrets
JWT_ACCESS_SECRET=CHANGE_ME_JWT_ACCESS
JWT_REFRESH_SECRET=CHANGE_ME_JWT_REFRESH

# JWT Expiration times
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Redis connection parameters
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
